# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython
.ipynb_checkpoints/
# Created by .ignore support plugin (hsz.mobi)
### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Temporary data
tempdata/

##MLJ Added for Spark
.vagrant/

data/harvested/lw-raw-lyrics
data/harvested/lw-raw-lyrics-error

data/conditioned/*
!data/conditioned/*.7z
!data/conditioned/*.csv
!data/conditioned/*.md
!data/conditioned/*/

data/conditioned/archive/nsimatrix.p
data/conditioned/archive/asimatrix.p

data/conditioned/decades/*
!data/conditioned/decades/*.7z

notebooks/mj/*
!notebooks/mj/*.ipynb
!notebooks/mj/*.md
!notebooks/mj/*/

notebooks/mj/decades/*
!notebooks/mj/decades/*.ipynb
!notebooks/mj/decades/*/

notebooks/mj/decades/1970/*
!notebooks/mj/decades/1970/*.ipynb

notebooks/mj/decades/1980/*
!notebooks/mj/decades/1980/*.ipynb

notebooks/mj/decades/1990/*
!notebooks/mj/decades/1990/*.ipynb

notebooks/mj/decades/2000/*
!notebooks/mj/decades/2000/*.ipynb

notebooks/mj/decades/2010/*
!notebooks/mj/decades/2010/*.ipynb
