@import 'vars.less';

@accentBorderRadius: @border-radius-base; // 10px;
@accentPadding: 20px;
@accentMargin: 10px;

.text-bubble,
.note-box {
  border-radius: @accentBorderRadius;
  margin: @accentMargin;
  padding: @accentPadding;
}

.text-bubble {
  @bubbleStemSize: 25px;

  position: relative;
  color: #fff;
  background-color: @sec;
  color: @supportTextLightEmphasis;
  .palette-opts();

  margin-bottom: (@bubbleStemSize + @accentMargin);
  font-size: 32px;
  font-weight: lighter;
  width: 50%;

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 0;
  }

  .standard-text {
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.under-half {
    width: 45%;
  }

  &.three-fourths-width {
    width: 75%;
  }

  &.fill {
    width: 100%;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &.light {
    a {
      color: #000;
    }
  }

  &.pri::after {
    border-left-color: @pri;
  }

  &.sec::after {
    border-left-color: @sec;
  }

  &.tri::after {
    border-left-color: @tri;
  }

  &.dark::after {
    border-left-color: @supportFillDark;
  }

  &.light::after {
    border-left-color: @supportFillLight;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -1 * @bubbleStemSize;
    left: 30px;

    border-top: 0 solid transparent;
    border-bottom: @bubbleStemSize solid transparent;
    border-left: @bubbleStemSize solid @sec;
  }

  &.no-top-margin {
    margin-top: 0;
  }

  &.right {
    margin-left: 50%;

    &.no-left-margin {
      margin-left: 0;
    }

    &.pri::after {
      border-right-color: @pri;
    }

    &.sec::after {
      border-right-color: @sec;
    }

    &.tri::after {
      border-right-color: @tri;
    }

    &.dark::after {
      border-right-color: @supportFillDark;
    }

    &.light::after {
      border-right-color: @supportFillLight;
    }

    &::after {
      border-left: none;
      border-right: @bubbleStemSize solid @sec;
      left: auto;
      right: @bubbleStemSize;
    }
  }
}

.note-box {
  background-color: @supportFillLight;
  //color: @mainText;
  float: left;
  max-width: 33%;

  .palette-opts();

  .dim, .dark, .pri, .sec, .tri {
    .header-color(#fff);
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 0;
  }

  &.right {
    float: right;
  }

  ul {
    margin-left: 0;
    padding-left: 20px;
  }
}

ul {
  &.plain {
    margin-left: 0;
    padding-left: 0;

    li {
      list-style: none;
    }
  }

  &.inline {
    li {
      display: inline-block;
      margin: 0 10px 10px 0;
    }
  }

  &.tonal {
    li {
      background-color: @dimFill;
      border-radius: @border-radius-base;
      padding: 0 10px;
    }
  }

  &.timeline {
    .plain;

    position: relative;
    padding: 40px 0 50px;
    margin-left: 20px;
    border-left: 5px solid @lightGrey;

    &::before,
    &::after {
      position: absolute;
      content: '';
      left: -16px;
      border-radius: 14px;
      width: 28px;
      height: 28px;
      background-color: @sec;
      border: 5px solid @lightGrey;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    li {
      position: relative;
      padding-left: 40px;
      color: lighten(@mainText, 20%);

      &.year {
        font-weight: lighter;
        font-size: 24px;
        margin-top: 20px;
        padding-left: 20px;
        color: @mainText;

        &::before {
          position: absolute;
          content: '';
          left: -8px;
          top: 12px;
          border-radius: 6px;
          width: 12px;
          height: 12px;
          background-color: @pri;
          border: 1px solid #fff;
        }

        &::after {
          position: absolute;
          content: '';
          left: 0;
          top: 17px;
          width: 18px;
          height: 1px;
          border-top: 1px solid @pri;
        }
      }
    }

    .word {
      font-weight: bold;
      color: @mainTextEmphasis;
    }

    .song,
    .artist {
      color: @mainText;
    }
  }

  &.legend {
    .plain;

    &.inline {
      display: inline-block;
    }

    border: 1px solid @lighterGrey;
    border-radius: @border-radius-base;
    padding: 10px 10px 0;

    li {
      position: relative;
      padding-left: 25px;
      line-height: 16px;

      &.title {
        color: @mediumGrey;
        font-variant: small-caps;
        font-weight: bold;
      }

      &.light, &.dark, &.pri, &.sec, &.tri {
        &::before {
          position: absolute;
          content: '';
          width: 16px;
          height: 16px;
          left: 0;
          border-radius: 2px;
        }
      }

      &.dark::before {
        background-color: @supportFillDark;
      }

      &.light::before {
        background-color: @supportFillLight;
      }

      &.pri::before {
        background-color: @pri;
      }

      &.sec::before {
        background-color: @sec;
      }

      &.tri::before {
        background-color: @tri;
      }
    }
  }
}

.note-box-set {
  .note-box {
    max-width: none;
  }
}

.item-listing {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    display: inline-block;

    background-color: @sec;
    color: @supportTextLight;
    border-radius: @border-radius-base;

    padding: 5px 10px;
    margin: 0 10px 10px 0;

    &:hover {
      color: @supportTextLightEmphasis;
    }
  }
}

.quote {
  position: relative;
  margin: 50px;
  padding: 50px 0;
  font-size: 48px;

  q {
    quotes: "“" "”" "‘" "’";
  }

  q:before {
    content: open-quote;
  }

  q:after {
    content: close-quote;
  }

  .attribution {
    font-size: 14px;
  }

  q::before,
  q::after {
    position: absolute;
    color: @sec;
    font-size: 96px;
  }

  q::before {
    //content: '&ldquo;';
    top: 0;
    left: -50px;
  }

  q::after {
    //content: '"';
    bottom: 0;
    right: -40px;
  }
}
